In [1]:
#1
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
#2
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

In [3]:
x = Gizmo()

Gizmo id: 139973392746304

In [4]:
y = Gizmo() * 10

Gizmo id: 139973387300752

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [5]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [8]:
#3
charles = {'name': 'Charles L. Dodson', 'born': 1832}
lewis = charles

In [9]:
lewis is charles

True

In [10]:
id(charles), id(lewis)

(139973376671232, 139973376671232)

In [11]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodson', 'born': 1832, 'balance': 950}

In [12]:
#4
alex = {'name': 'Charles L. Dodson', 'born': 1832, 'balance': 950}
alex == charles

True

In [13]:
alex is charles

False

In [14]:
#5
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [15]:
id(t1[-1])

139973375319552

In [16]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 139973375319552)

In [18]:
t1 == t2

False

In [19]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [20]:
l2 == l1

True

In [21]:
l2 is l1

False

In [22]:
#6
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)

In [23]:
l1.append(100)

In [24]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [25]:
l2[1] += [33,22]

In [26]:
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [27]:
#7
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [28]:
#8
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(139973387416256, 139973387416688, 139973387408576)

In [29]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [30]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(139973375480896, 139973375480896, 139973375313344)

In [31]:
#9
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [32]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [33]:
#10
def f(a,b):
  a += b
  return a

In [34]:
a = [1,2]
b = [3,4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [35]:
x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [36]:
t = (10, 20)
u = (30, 40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [37]:
#11
class HauntedBus:
  def __init__(self, passengers=[]):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [38]:
#12
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [39]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [40]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [41]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [42]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [43]:
bus2.passengers is bus3.passengers

True

In [45]:
bus1.passengers

['Bill', 'Charlie']

In [46]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [47]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [48]:
#13
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [49]:
#14
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [50]:
#15
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self,name):
    self.passengers.append(name)

  def drop(self,name):
    self.passengers.remove(name)

In [51]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [53]:
#17
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
  print('Gone with the wind...')

In [54]:
ender = weakref.finalize(s1, bye)
ender.alive

True

In [55]:
del s1
ender.alive

True

In [56]:
s2 = 'spam'

Gone with the wind...

In [57]:
ender.alive

False